v-app(light v-scroll="onScroll")
  v-toolbar(app light color="white" dense flat fixed align-center :class="{'scrolled': offsetTop > 104}")
    v-toolbar-title
      h1.primary--text
        a.v-toolbar__logo-link(href="#top")
          v-icon(color="lightgrey").v-toolbar__logo fa-terminal
          span.code.mr-3.lightgrey--text.v-toolbar__ssh SSH
          div.v-toolbar__logo-title Simple Syntax Highlighter

  //- v-fab-transition
    v-btn(color="primary" fixed bottom right fab v-show="!goTopHidden" small href="#top")
      v-icon keyboard_arrow_up
  router-view
  v-footer
    v-layout.max-widthed(row wrap align-center justify-center)
      v-flex.xs12.sm6.text-xs-center.text-sm-left.copyright.
        Copyright © 2018 Antoni André, all rights reserved.
      v-flex.xs12.sm6.text-xs-center.text-sm-right.made-with.
        This documentation is made with #[v-icon fab fa-vuejs], #[v-icon fab fa-html5], #[v-icon fab fa-css3], #[v-icon fab fa-sass] & #[v-icon.heart favorite]#[br]
        View project on #[a(href="https://github.com/antoniandre/simple-syntax-highlighter" target="_blank") #[v-icon fab fa-github] Github].
