.v-toolbar {
  z-index: 100;
  position: absolute;
  border-bottom: 1px solid transparent !important;
  transition: 0.3s ease-in-out all, 0.1s 0s ease-in-out border-color;
  top: 0;

  &__content {
    padding-left: 0;
    padding-right: 0;
  }

  &__title {
    position: relative;
    overflow: visible;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 35em;
    transition: 0.3s ease-in-out;
    font-size: 1em;
    padding: 0 1em;
    background-color: #000;
  }

  &__logo {
    vertical-align: middle;
    transition: 0.2s 0s ease-in-out;
  }

  &__logo-link {
    display: inline-block;
  }

  &__ssh {
    letter-spacing: -3px;
    font-size: 0.8em;
  }

  & .v-toolbar__logo, & .v-toolbar__ssh {
    transition: 0.4s ease-in-out;
  }

  &__logo-title {
    display: inline-block;
    vertical-align: middle;
    transition: 0.3s ease-in-out;
    font: 28px monospace, sans-serif;
    letter-spacing: -3px;
    word-spacing: -5px;
  }

  &.scrolled {
    transition: 0.6s ease-in-out all, 0.3s 0.5s ease-in-out border-color;
    border-bottom-color: $lighter-text !important;
    position: fixed;

    & .v-toolbar__title {
      background-color: #fff;
      width: 100%;
      transition: 0.6s ease-in-out all, 0.3s 0.3s ease-in-out background-color;
    }

    & .v-toolbar__logo, & .v-toolbar__ssh {
      color: $dark-text !important;
    }

    & .v-toolbar__logo-title {
      font-size: 0.6em;
    }
  }
}
